@using Microsoft.AspNetCore.Identity;
@model ApplicationRole
@{
    ViewData["Title"] = "Roles";
}

<p>
    <a asp-action="Create">Create new role</a>
</p>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Name" class="form-control" aria-required="true" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row pt-1">
                <button type="submit" class="btn btn-primary">save</button>
            </div>
        </form>
    </div>
</div>